{% load static %}
<div class="card border-secondary">
    <div class="card-header text-white bg-primary mb-3">
        Laptop Details
    </div>
    <div class="card-body">
        <form action= '' method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-horizontal">
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.name.label}}</label>
                    <div class="col-md-10">
                        {{form.name}}
                    </div>
                </div>
                <br>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.brand.label}}</label>
                    <div class="col-md-4">
                        {{form.brand}}
                    </div>
                    <label class="control-label col-md-2 text-end">{{form.storage.label}}</label>
                    <div class="col-md-4">
                        {{form.storage}}
                    </div>
                </div>
                <br>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.RAM.label}}</label>
                    <div class="col-md-4">
                        {{form.RAM}}
                    </div>
                    <label class="control-label col-md-2 text-end">{{form.os.label}}</label>
                    <div class="col-md-4">
                        {{form.os}}
                    </div>
                </div>
                <br>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.processor.label}}</label>
                    <div class="col-md-4">
                        {{form.processor}}
                    </div>
                    <label class="control-label col-md-2 text-end">{{form.gpu.label}}</label>
                    <div class="col-md-4">
                        {{form.gpu}}
                    </div>
                </div>
                <br>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.display.label}}</label>
                    <div class="col-md-4">
                        {{form.display}}
                    </div>
                </div>
                <br>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{form.feature.label}}</label>
                    <div class="col-md-10">
                        {{form.feature}}
                    </div>
                </div>
                <br> 
                <div class="row form-group">
                    <label class="control-label col-md-2">{{iform.img_url.label}}</label>
                    <div class="col-md-4">
                        {{iform.img_url}}
                    </div>
                </div>
                <br> 
                <!-- {{some_formset.as_p}} -->
                <div class="row form-group">
                    <table class="table table-striped table-bordered table-hover datatable">
                        <thead class="table-dark">
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>From</th>
                                <th>Url</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>               
                            {% for item in prices%}
                            <tr>
                                <td>                                    
                                    {{ forloop.counter }}
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.get_type_display }}</td>
                                <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                                <td>
                                    <input type="checkbox" name="check" id="check{{ forloop.counter }}" value="{{ item.id }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br> 
                {{form.errors}}
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="float-md-end">
                            <button class="btn btn-secondary" type="submit" id="SubmitButton"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</div>